<div class="row">
  <div class="contents col-md-9">
    {{{index}}}
  </div>

  <div class="col-md-3" id="sidebar">
  	<div class = "sidebar-logo">
	 <p>
		This package is a part of <a href="http://DrWhy.AI">DrWhy.AI</a> universe. It is developed by the <a href="http://DrWhy.AI">MI^2 group</a> of mathematicians and computer scientists that love to play with data. We create tools, do consulting and share our positive attitude. 
	 </p>
	</div>
    {{#sidebar}}
    {{{.}}}
    {{/sidebar}}
  </div>
</div>

